<nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
  <%= link_to "Dashboard", welcome_path, class: "navbar-brand" %>
  <ul class="nav navbar-nav">
    <% if user_signed_in? %>
      <% if can? :read, SecretCode %>
        <li class="nav-item"><%= link_to "Secret Codes", secret_codes_path %></li>
      <% end %>
      <li class="nav-item">
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'nav-link') %>
      </li>
    <% else %>
      <li><%= link_to('Register', new_user_registration_path) %></li>
    <% end %>
  </ul>
</nav>